<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Car Rental Website</title>
        <!-- LInk TO CSS-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
         <!-- Box Icons -->
         <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
        <body>
        <!-- Header -->
        <header>
            <a href="#" class="logo"><img src="/static/images/jeep.png" alt=""></a>

            <div class="bx bx-menu" id="menu-icon"></div>

            <ul class="navbar">
                <li><a href="#home">Home</a></li>
                <li><a href="#ride">Ride</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#reviews">Reviews</a></li>
            </ul>
            <div class="header-btn">
                <a href="#" class="sign-up">SignUp</a>
                <a href="#" class="sign-in">LogIn</a>
            </div>
        </header>
        <!-- Home-->
        <section class="home" id="home">
            <div class="text">
                <h1><span>looking</span> to <br> rent a car</h1>
                <p> CAR CAR CAR</p>
                <div class="app-stores">
                    <img src="/static/images/ios.png" alt="">
                    <img src="/static/images/512x512.png" alt="">
                </div>
            </div>
            <div class="form-container"></div>
            <form action="">
                <div class="input-box">
                    <span>Location</span>
                    <input type="search" name="" id="" placeholder="Search Places">
                </div>
                <div class="input-box">
                    <span>Pick-Up Date</span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <span>Return Date</span>
                    <input type="date" name="" id="">
                </div>
                <input type="submit" name="" id="" class="btn">
            </form>
        </div>   
        </section>
        <!-- Ride -->
        <section class="ride" id="ride">
            <div class="heading">
                <span>How Its Work</span>
                <h1>Rent With 3 Easy Steps</h1>
            </div>
            <div class="ride-container">
                <div class="box">
                    <i class='bx bxs-map'></i>
                    <h2>Choose a location</h2>
                </div>
                <div class="box">
                    <i class='bx bxs-calendar-check'></i>
                    <h2>Pick-Up Date</h2>
                </div>
                <div class="box">
                    <i class='bx bxs-calendar-star'></i>
                    <h2>Book A Car</h2>
                </div>
            </div>
        </section>
        <!-- Services -->
        <section class="services" id="services">
            <div class="heading">
                <span>Best Services</span>
                <h1>Explore Out Top Deals <br> From Top Rated Dealers</h1>
            </div>
            <div class="Services-container">
                <div class="box">
                    <div class="box-img">
                        <img src="/static/images/car1.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>$58500 | $358 <span>/month</span></h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>

                <div class="box">
                    <div class="box-img">
                        <img src="/static/images/car2.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>$58500 | $358 <span>/month</span></h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="/static/images/car3.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>$58500 | $358 <span>/month</span></h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="/static/images/car4.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>$58500 | $358 <span>/month</span></h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="/static/images/car5.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>$58500 | $358 <span>/month</span></h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="/static/images/car6.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>$58500 | $358 <span>/month</span></h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>

            </div>

        </section>
        <!--About -->
        <section class="about" id="about">
            <div class="heading">
                <span>About Us</span>
                <h1>Best Customer Experience</h1>
            </div>
            <div class="about-container">
                <div class="about-img">
                    <img src="/static/images/about.png" alt="">
                </div>
                <div class="about-text">
                    <span>About Us</span>
                    <p>CAR CAR CAR CAR CAR CARCAR CARCAR CARCAR CARCAR CAR</p>
                    <p>CAR CAR CAR CAR CAR CARCAR CARCAR CARCAR CARCAR CAR</p>
                    <a href="#" class="btn">Learn More</a>
                </div>
        </section>
        <!-- Reviews -->
        <section class="reviews" id="reviews">
            <div class="heading">
                <span>Reviews</span>
                <h1>Whats Out Customer Say</h1>
                </div>
                <div class="reviews-container">
                    <div class="box">
                        <div class="box">
                            <div class="rev-img">
                                <img src="/static/images/rev1.jpg" alt="">
                            </div>
                            <h2>Someone Name</h2>
                            <div class="stars"></div>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half' ></i>
                        </div>
                        <p>CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR</p>
                    </div>
                    <div class="box">
                        <div class="box">
                            <div class="rev-img">
                                <img src="/static/images/rev2.jpg" alt="">
                            </div>
                            <h2>Someone Name</h2>
                            <div class="stars"></div>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half' ></i>
                        </div>
                        <p>CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR</p>
                    </div>
                    <div class="box">
                        <div class="box">
                            <div class="rev-img">
                                <img src="/static/images/rev3.jpg" alt="">
                            </div>
                            <h2>Someone Name</h2>
                            <div class="stars"></div>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half' ></i>
                        </div>
                        <p>CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR CAR</p>
                    </div>

                </div>
            
        </section>
        <!-- Newsletter -->
        <section class="newsletter">
            <h2>Subscribe TO Newsletter</h2>
            <div class="box">
                <input type="text" placeholder="Enter Your Email...">
                <a href="#" class="btn">Subscribe</a>
            </div>
        </section>
        <div class="copyright">
            <p>&#169;AadarshDhaubanjar ALL Right Reserved</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
            </div>
        </div>

<!-- ScrollReveal-->
<script src="https://unpkg.com/scrollreveal"></script>

    <!-- Link To JS-->
    {% load static %}
{% block custom_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}


    </body>
</html>